<img src="../images/AzPTravel_PPM.png">

## Finance Comparison Report

#### This script reads the output of the Upload Assistant and summarizes all finance views with comments along with each report.

#### This can be run on its own or as part of the pipeline wherever called (ie from a papermill script or other user inteface).

### User Variables
- These are overwritten if inherited from run_control.ipynb.
- Feel Free to reset them for a manual run if you like
- Do not save without percode = "-f"

In [37]:
commit_message = "Development and testing."
# Give a brief reason for the run.

run_control = 1
#run_type = 0 - Lite run with no reporting, not recommended.
#run_type = 1 - Lite run with normal reporting, default setting.
#run_type = 2 - Heavy run with full reporting, available for audits and troubleshooting.
#run_type = 5 - A default setting. Indicates the script is being run by an outside process without an inherited value

percode = "2021.Q1"
# Data Collection Code, this controls file paths and output names
# "-f" is the value indicating a bad inheritance from run with arg

s_format = "p"
# denotes the source data format x == Excel; j == json, p == parquet

#----------
# do not edit - this either inherits the full instance timestamp from the papermill book or captures the run time of this script.
from datetime import datetime
inst_datetime = datetime.now().strftime("%m%d%Y%H%M%S")

#### Notebook display options

In [38]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### import packages

In [39]:
#### Packages used

import os
import sys

from datetime import datetime
import warnings

import glob
import getpass
import json

import matplotlib.pyplot as plt
import openpyxl
import numpy as np
import pandas as pd

import re
import nicexcel as nl
import xlsxwriter

global df

#### Default Variables, these govern logic, do not edit.

In [40]:
default_dc = "20XX.QX"
default_rc = 0 #extra lite mode
dummy_perc = "33Q3" # bad inheritance

#### Script determining run context ie, manual, run_control.ipynb, or other.

In [41]:
if run_control == 5:
    run_control = default_rc 
else:
    run_control = run_control

try:
    if sys.argv[1] == "-f":
        percode = percode
    else:
        percode = sys.argv[1]

except IndexError:
    percode = default_dc
except NameError:
    percode = default_dc

#### style settings

In [42]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#### Make paths for the source folder

In [43]:
rt_path = f'//hecate/Insurance_US/Product Development/Product Management/Global PPM/Reporting/Data Collection/Production/{str(percode)}'
ls_path = os.path.join( rt_path, 'live_sources')
rep_path = os.path.abspath(os.path.join(rt_path, '..','..',f"{percode}", 'Standard Reports'))
rep_arch_path = os.path.abspath(os.path.join(rt_path, '..','..',f"{percode}", 'Standard Reports', 'Archive'))

#### Get a list of only source files in the path that start with "us_dat".
#### Logic determines the source file types.

#### User instructions:
- Make sure that you have 1 file per source in this folder.
    -  For instance, do not have two files for Portugal. If there is an update, archive the old one.
- Do not overwrite files in the archive.
    - Rename newly archived files, no strict convention, we keep track of these by the modified date.
- It is ok to have multiple sources in one file.

In [44]:
files = os.listdir(ls_path)
files = [files.lower() for files in files]

files_sour = [f for f in files if f[-5:]  == '.json' or  f[-8:] == '.parquet' and f[:7] != 'us_orig']

files_sour

['us_dat_nz+_05142021114427.parquet',
 'us_dat_nz+_05162021153809.parquet',
 'us_dat_us_05122021094008.parquet',
 'us_survey_us_05122021094728.parquet',
 'us_vcomments_nz+_05142021114428.json',
 'us_vcomments_nz+_05142021114428.parquet',
 'us_vcomments_nz+_05162021153810.parquet',
 'us_vcomments_us_05122021094708.json',
 'us_vcomments_us_05122021094708.parquet',
 'us_vdf_nz+_05142021114428.json',
 'us_vdf_nz+_05162021153810.json',
 'us_vdf_us_05122021094708.json']

In [45]:
list_jfiles = glob.glob(os.path.join(ls_path, 'us_vcomments_*.json'))
list_pfiles = glob.glob(os.path.join(ls_path, 'us_vcomments_*.parquet'))

for idx, i in enumerate(list_jfiles):
    list_jfiles[idx] = list_jfiles[idx][-23:-19]
    list_jfiles[idx] = list_jfiles[idx].replace('_','')

for idx, i in enumerate(list_pfiles):
    list_pfiles[idx] = list_pfiles[idx][-26:-22]
    list_pfiles[idx] = list_pfiles[idx].replace('_','')

list_files = []
    
for i in list_jfiles : list_files.append(i)    
for i in list_pfiles : list_files.append(i)


BU_set = set(list_files)
BU_list = list(BU_set)

BU_list

['US', 'NZ+']

In [46]:
files_cmnts = [i for i in files_sour if "vcomments" in i  and "parq" in i ]

files_cmnts

['us_vcomments_nz+_05142021114428.parquet',
 'us_vcomments_nz+_05162021153810.parquet',
 'us_vcomments_us_05122021094708.parquet']

In [47]:
cols = ['Business Unit', 'Validation Rule', 'Comments', 'Row Counts', 'Check Type']


latest_valcomments = pd.DataFrame(columns = cols)


for idx, i in enumerate(BU_list):
    list_files_a = glob.glob(os.path.join(ls_path, f'us_vcomments_{i}*.parquet'))
    recent_vers_a = max(list_files_a, key=os.path.getctime)
    idf  =  pd.read_parquet(recent_vers_a, engine = "pyarrow")
    idf.insert(0, "Business Unit",BU_list[idx])
    latest_valcomments = latest_valcomments.append(idf)

latest_valcomments = latest_valcomments.reset_index(drop=True)

latest_valcomments

,Business Unit,Validation Rule,Comments,Row Counts,Check Type
0,US,Finance Reporting.,Please add any commentary on differences from ...,1,Written Revenue
1,US,Finance Reporting.,Please add any commentary on differences from ...,1,Earned Revenue
2,US,Finance Reporting.,Please add any commentary on differences from ...,1,Loss Ratio
3,US,Finance Reporting.,Please add any commentary on differences from ...,1,Commission Ratio
4,US,Finance Reporting.,Please add any commentary on differences from ...,1,Expense Ratio
5,US,Reporting Date From,Please replace this text with an explanation o...,10,Row Check
6,US,Units of Risk (Earned),Please replace this text with an explanation o...,2,Row Check
7,US,Number of Policies (Earned),Please replace this text with an explanation o...,12,Row Check
8,US,Reporting Date To,Please replace this text with an explanation o...,10,Row Check
9,US,Date of Analysis,Please replace this text with an explanation o...,10,Row Check
10,NZ+,Finance Reporting.,New Commentwritten,20,Written Revenue
11,NZ+,Finance Reporting.,New Comment earned,20,Earned Revenue
12,NZ+,Finance Reporting.,New Comment LR,20,Loss Ratio
13,NZ+,Finance Reporting.,New CommentwrittenCR,20,Commission Ratio
14,NZ+,Finance Reporting.,New CommentwrittenER,20,Expense Ratio
15,NZ+,Validated Fields,Please replace this text with an explanation o...,37,Value Match Check
16,NZ+,Commission Ratio,Please replace this text with an explanation o...,1,Aggregate Result Check
17,NZ+,Commission Ratio,Please replace this text with an explanation o...,3,Aggregate Result Check
18,NZ+,Commission Ratio,Please replace this text with an explanation o...,7,Aggregate Result Check
19,NZ+,Commission Ratio,Please replace this text with an explanation o...,13,Aggregate Result Check
20,NZ+,Sub LOB,Please replace this text with an explanation o...,200,Row Check
21,NZ+,Business Partner Name,Please replace this text with an explanation o...,131,Row Check
22,NZ+,Product Name,Please replace this text with an explanation o...,200,Row Check
23,NZ+,Units of Risk (Earned),Please replace this text with an explanation o...,200,Row Check
24,NZ+,Units of Risk (Written),Please replace this text with an explanation o...,1004,Row Check
25,NZ+,Number of Policies (Earned),Please replace this text with an explanation o...,200,Row Check
26,NZ+,Number of Policies (Written),Please replace this text with an explanation o...,200,Row Check
27,NZ+,Commission Ratio,Please replace this text with an explanation o...,8,Row Check
28,NZ+,Expense Ratio,Please replace this text with an explanation o...,14,Row Check
29,NZ+,Date of Analysis,Please replace this text with an explanation o...,10,Row Check
30,NZ+,Duplicate Count,Please replace this text with an explanation o...,200,Attribute Check

In [48]:
latest_vdfdata_sets = []

for idx, i in enumerate(BU_list):
    list_files_b = glob.glob(os.path.join(ls_path, f'us_vdf_{i}*.json'))
    recent_vers_b = max(list_files_b, key=os.path.getctime)
    with open(recent_vers_b, 'r') as fp:
        data_dict = json.load(fp)
        dfslist =   { key: pd.DataFrame(data_dict[key]) for key in data_dict  }
        for i in dfslist: latest_vdfdata_sets.append(dfslist[i])

latest_vdfdata_sets

[         Country (LC) Submission Written Revenue net of Taxes  \
 0  United States                                      29,302

   (EUR) Submission Written Revenue net of Taxes  \
 0                                       24,832

   (EUR) Finance Sales Gross Written (EUR) Difference
 0                      145,310,310     -145,285,478   ,
          Country (LC): Submission Earned Revenues net of Taxes  \
 0  United States                                       22,054

   (EUR): Submission Earned Revenues net of Taxes (EUR) Finance Net Earnings  \
 0                                        18,690                 98,303,270

   (EUR) Difference
 0     -98,284,580   ,
          Country Submission Loss Ratio Finance Loss Ratio Difference (%)
 0  United States                 19.5%              18.4%           1.1%,
          Country Submission Commission Ratio Finance Commission Ratio  \
 0  United States                       26.9%                    47.7%

   Difference (%)
 0         -20.8%  ,
          Country Submission Expense Ratio Finance Expense Ratio Difference (%)
 0  United States                    17.5%                 37.5%         -20.0%,
   Business Unit Country Currency         Region  Reporting Date From  \
 0            US     nan      USD  North America  2019-04-01 00:00:00
 1            US     nan      USD  North America  2019-04-01 00:00:00
 2            US     nan      USD  North America  2019-04-01 00:00:00
 3            US      US      USD  North America  2019-04-01 00:00:00
 4            US      US      USD  North America  2019-04-01 00:00:00
 5            US      US      USD  North America  2019-04-01 00:00:00
 6            US      US      USD  North America  2019-04-01 00:00:00
 7            US      US      USD  North America  2019-04-01 00:00:00
 8            US      US      USD  North America  2019-04-01 00:00:00
 9            US      US      USD  North America  2019-04-01 00:00:00

      Reporting Date To     Date of Analysis         Type of Analysis  \
 0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 2  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 3  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 4  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 5  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 6  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 7  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 8  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 9  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

   Analysed Months Reporting Year  ...  \
 0              12           2020  ...
 1              12           2020  ...
 2              12           2020  ...
 3              12           2020  ...
 4              12           2020  ...
 5              12           2020  ...
 6              12           2020  ...
 7              12           2020  ...
 8              12           2020  ...
 9              12           2020  ...

   Contribution Margin % on Earned Revenues net of Taxes - HQ View Loss Ratio  \
 0                                               nan                     nan
 1                                                 1                       0
 2                                                 0                       1
 3                                                 1                       0
 4                                                 1                       0
 5                                                 1                       0
 6                                                 1                       0
 7                                                 1                       0
 8                                                 1                       0
 9                                               nan                     nan

   Commission Ratio Expense Ratio Combined Ratio Profit or Loss Notes  \
 0             nan           nan              0              0    nan
 1               0             0              1            109    nan
 2               0             0              1            -56    nan
 3               0             0              0            437    nan
 4               0             0              0            315    nan
 5               0             0              0            544    nan
 6               0             0              0            317    nan
 7               0             0              1             52    nan
 8               0             0              0          3,335    nan
 9             nan           nan              0              0    nan

   Unnamed: 66 Reporting Date From INT concat2
 0         nan                20190401  nanUSD
 1         nan                20190401  nanUSD
 2         nan                20190401  nanUSD
 3         nan                20190401   USUSD
 4         nan                20190401   USUSD
 5         nan                20190401   USUSD
 6         nan                20190401   USUSD
 7         nan                20190401   USUSD
 8         nan                20190401   USUSD
 9         nan                20190401   USUSD

 [10 rows x 69 columns],
   Business Unit Country Currency         Region  Reporting Date From  \
 0            US     nan      USD  North America  2019-04-01 00:00:00
 1            US      US      USD  North America  2019-04-01 00:00:00

      Reporting Date To     Date of Analysis         Type of Analysis  \
 0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

   Analysed Months Reporting Year  ...  \
 0              12           2020  ...
 1              12           2020  ...

   Contribution Margin % on Earned Revenues net of Taxes - HQ View Loss Ratio  \
 0                                               nan                     nan
 1                                               nan                     nan

   Commission Ratio Expense Ratio Combined Ratio Profit or Loss Notes  \
 0             nan           nan              0              0    nan
 1             nan           nan              0              0    nan

   Unnamed: 66 Reporting Date From INT concat2
 0         nan                20190401  nanUSD
 1         nan                20190401   USUSD

 [2 rows x 69 columns],
    Business Unit Country Currency         Region  Reporting Date From  \
 0             US     nan      USD  North America  2021-01-01 00:00:00
 1             US     nan      USD  North America  2021-01-01 00:00:00
 2             US     nan      USD  North America  2019-04-01 00:00:00
 3             US     nan      USD  North America  2019-04-01 00:00:00
 4             US     nan      USD  North America  2019-04-01 00:00:00
 5             US      US      USD  North America  2019-04-01 00:00:00
 6             US      US      USD  North America  2019-04-01 00:00:00
 7             US      US      USD  North America  2019-04-01 00:00:00
 8             US      US      USD  North America  2019-04-01 00:00:00
 9             US      US      USD  North America  2019-04-01 00:00:00
 10            US      US      USD  North America  2019-04-01 00:00:00
 11            US      US      USD  North America  2019-04-01 00:00:00

       Reporting Date To     Date of Analysis         Type of Analysis  \
 0   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 1   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 2   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 3   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 4   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 5   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 6   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 7   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 8   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 9   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 10  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 11  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

    Analysed Months Reporting Year  ...  \
 0               12           2020  ...
 1               12           2020  ...
 2               12           2020  ...
 3               12           2020  ...
 4               12           2020  ...
 5               12           2020  ...
 6               12           2020  ...
 7               12           2020  ...
 8               12           2020  ...
 9               12           2020  ...
 10              12           2020  ...
 11              12           2020  ...

    Contribution Margin % on Earned Revenues net of Taxes - HQ View Loss Ratio  \
 0                                                  1                       0
 1                                                  1                       0
 2                                                nan                     nan
 3                                                  1                       0
 4                                                  0                       1
 5                                                  1                       0
 6                                                  1                       0
 7                                                  1                       0
 8                                                  1                       0
 9                                                  1                       0
 10                                                 1                       0
 11                                               nan                     nan

    Commission Ratio Expense Ratio Combined Ratio Profit or Loss Notes  \
 0                0             0              0            566    nan
 1                0             0              0          2,337    nan
 2              nan           nan              0              0    nan
 3                0             0              1            109    nan
 4                0             0              1            -56    nan
 5                0             0              0            437    nan
 6                0             0              0            315    nan
 7                0             0              0            544    nan
 8                0             0              0            317    nan
 9                0             0              1             52    nan
 10               0             0              0          3,335    nan
 11             nan           nan              0              0    nan

    Unnamed: 66 Reporting Date From INT concat2
 0          nan                20210101  nanUSD
 1          nan                20210101  nanUSD
 2          nan                20190401  nanUSD
 3          nan                20190401  nanUSD
 4          nan                20190401  nanUSD
 5          nan                20190401   USUSD
 6          nan                20190401   USUSD
 7          nan                20190401   USUSD
 8          nan                20190401   USUSD
 9          nan                20190401   USUSD
 10         nan                20190401   USUSD
 11         nan                20190401   USUSD

 [12 rows x 69 columns],
   Business Unit Country Currency         Region  Reporting Date From  \
 0            US     nan      USD  North America  2021-01-01 00:00:00
 1            US     nan      USD  North America  2021-01-01 00:00:00
 2            US     nan      USD  North America  2019-04-01 00:00:00
 3            US     nan      USD  North America  2019-04-01 00:00:00
 4            US     nan      USD  North America  2019-04-01 00:00:00
 5            US      US      USD  North America  2019-04-01 00:00:00
 6            US      US      USD  North America  2019-04-01 00:00:00
 7            US      US      USD  North America  2019-04-01 00:00:00
 8            US      US      USD  North America  2019-04-01 00:00:00
 9            US      US      USD  North America  2019-04-01 00:00:00

      Reporting Date To     Date of Analysis         Type of Analysis  \
 0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 2  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 3  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 4  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 5  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 6  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 7  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 8  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 9  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

   Analysed Months Reporting Year  ... Combined Ratio Profit or Loss Notes  \
 0              12           2020  ...             0            566    nan
 1              12           2020  ...             0          2,337    nan
 2              12           2020  ...             0              0    nan
 3              12           2020  ...             1            109    nan
 4              12           2020  ...             1            -56    nan
 5              12           2020  ...             0            437    nan
 6              12           2020  ...             0            315    nan
 7              12           2020  ...             0            544    nan
 8              12           2020  ...             0            317    nan
 9              12           2020  ...             1             52    nan

   Unnamed: 66 Reporting Date From INT concat2               comsub  \
 0         nan                20210101  nanUSD  0.28620844564240794
 1         nan                20210101  nanUSD   0.2862254901960784
 2         nan                20190401  nanUSD                  0.0
 3         nan                20190401  nanUSD                  0.0
 4         nan                20190401  nanUSD   0.2956847392524745
 5         nan                20190401   USUSD   0.2457433290978399
 6         nan                20190401   USUSD   0.2955177993527508
 7         nan                20190401   USUSD    0.213853711790393
 8         nan                20190401   USUSD  0.18622309197651662
 9         nan                20190401   USUSD   0.2849038461538462

                 expsub ibnrsub Reporting Date To INT
 0  0.17513027852650495    10.0              20200331
 1  0.17514705882352943    0.05              20200331
 2                  0.0     0.0              20200331
 3   0.1754464285714286     0.0              20200331
 4  0.17512335647806176     0.0              20200331
 5  0.17515883100381194     0.0              20200331
 6   0.1750485436893204     0.0              20200331
 7  0.17513100436681223     0.0              20200331
 8  0.17512720156555775     0.0              20200331
 9  0.17432692307692307     0.0              20200331

 [10 rows x 73 columns],
   Business Unit Country Currency         Region  Reporting Date From  \
 0            US     nan      USD  North America  2021-01-01 00:00:00
 1            US     nan      USD  North America  2021-01-01 00:00:00
 2            US     nan      USD  North America  2019-04-01 00:00:00
 3            US     nan      USD  North America  2019-04-01 00:00:00
 4            US     nan      USD  North America  2019-04-01 00:00:00
 5            US      US      USD  North America  2019-04-01 00:00:00
 6            US      US      USD  North America  2019-04-01 00:00:00
 7            US      US      USD  North America  2019-04-01 00:00:00
 8            US      US      USD  North America  2019-04-01 00:00:00
 9            US      US      USD  North America  2019-04-01 00:00:00

      Reporting Date To     Date of Analysis         Type of Analysis  \
 0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 2  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 3  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 4  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 5  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 6  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 7  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 8  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
 9  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

   Analysed Months Reporting Year  ... Profit or Loss Notes Unnamed: 66  \
 0              12           2020  ...           566    nan         nan
 1              12           2020  ...         2,337    nan         nan
 2              12           2020  ...             0    nan         nan
 3              12           2020  ...           109    nan         nan
 4              12           2020  ...           -56    nan         nan
 5              12           2020  ...           437    nan         nan
 6              12           2020  ...           315    nan         nan
 7              12           2020  ...           544    nan         nan
 8              12           2020  ...           317    nan         nan
 9              12           2020  ...            52    nan         nan

   Reporting Date From INT concat2               comsub               expsub  \
 0                20210101  nanUSD  0.28620844564240794  0.17513027852650495
 1                20210101  nanUSD   0.2862254901960784  0.17514705882352943
 2                20190401  nanUSD                  0.0                  0.0
 3                20190401  nanUSD                  0.0   0.1754464285714286
 4                20190401  nanUSD   0.2956847392524745  0.17512335647806176
 5                20190401   USUSD   0.2457433290978399  0.17515883100381194
 6                20190401   USUSD   0.2955177993527508   0.1750485436893204
 7                20190401   USUSD    0.213853711790393  0.17513100436681223
 8                20190401   USUSD  0.18622309197651662  0.17512720156555775
 9                20190401   USUSD   0.2849038461538462  0.17432692307692307

   ibnrsub Reporting Date To INT Date of Analysis INT
 0    10.0              20200331             20190301
 1    0.05              20200331             20190301
 2     0.0              20200331             20190301
 3     0.0              20200331             20190301
 4     0.0              20200331             20190301
 5     0.0              20200331             20190301
 6     0.0              20200331             20190301
 7     0.0              20200331             20190301
 8     0.0              20200331             20190301
 9     0.0              20200331             20190301

 [10 rows x 74 columns],
            Country (LC) Submission Written Revenue net of Taxes  \
 0          Austria                                   5,257,177
 1        Australia                                  54,118,617
 2           Canada                                  45,918,367
 3      Switzerland                                  12,908,273
 4            China                                  24,428,177
 5   Czech Republic                                   2,061,480
 6          Germany                                  48,129,127
 7            Spain                                     613,237
 8              nan                                   7,981,250
 9           France                                           0
 10          Greece                                   1,484,463
 11           Italy                                  19,587,993
 12     Netherlands                                  13,414,833
 13     New Zealand                                   5,737,178

In [49]:
latest_valcomments["Applies to"] = latest_valcomments["Business Unit"]
latest_valcomments

,Business Unit,Validation Rule,Comments,Row Counts,Check Type,Applies to
0,US,Finance Reporting.,Please add any commentary on differences from ...,1,Written Revenue,US
1,US,Finance Reporting.,Please add any commentary on differences from ...,1,Earned Revenue,US
2,US,Finance Reporting.,Please add any commentary on differences from ...,1,Loss Ratio,US
3,US,Finance Reporting.,Please add any commentary on differences from ...,1,Commission Ratio,US
4,US,Finance Reporting.,Please add any commentary on differences from ...,1,Expense Ratio,US
5,US,Reporting Date From,Please replace this text with an explanation o...,10,Row Check,US
6,US,Units of Risk (Earned),Please replace this text with an explanation o...,2,Row Check,US
7,US,Number of Policies (Earned),Please replace this text with an explanation o...,12,Row Check,US
8,US,Reporting Date To,Please replace this text with an explanation o...,10,Row Check,US
9,US,Date of Analysis,Please replace this text with an explanation o...,10,Row Check,US
10,NZ+,Finance Reporting.,New Commentwritten,20,Written Revenue,NZ+
11,NZ+,Finance Reporting.,New Comment earned,20,Earned Revenue,NZ+
12,NZ+,Finance Reporting.,New Comment LR,20,Loss Ratio,NZ+
13,NZ+,Finance Reporting.,New CommentwrittenCR,20,Commission Ratio,NZ+
14,NZ+,Finance Reporting.,New CommentwrittenER,20,Expense Ratio,NZ+
15,NZ+,Validated Fields,Please replace this text with an explanation o...,37,Value Match Check,NZ+
16,NZ+,Commission Ratio,Please replace this text with an explanation o...,1,Aggregate Result Check,NZ+
17,NZ+,Commission Ratio,Please replace this text with an explanation o...,3,Aggregate Result Check,NZ+
18,NZ+,Commission Ratio,Please replace this text with an explanation o...,7,Aggregate Result Check,NZ+
19,NZ+,Commission Ratio,Please replace this text with an explanation o...,13,Aggregate Result Check,NZ+
20,NZ+,Sub LOB,Please replace this text with an explanation o...,200,Row Check,NZ+
21,NZ+,Business Partner Name,Please replace this text with an explanation o...,131,Row Check,NZ+
22,NZ+,Product Name,Please replace this text with an explanation o...,200,Row Check,NZ+
23,NZ+,Units of Risk (Earned),Please replace this text with an explanation o...,200,Row Check,NZ+
24,NZ+,Units of Risk (Written),Please replace this text with an explanation o...,1004,Row Check,NZ+
25,NZ+,Number of Policies (Earned),Please replace this text with an explanation o...,200,Row Check,NZ+
26,NZ+,Number of Policies (Written),Please replace this text with an explanation o...,200,Row Check,NZ+
27,NZ+,Commission Ratio,Please replace this text with an explanation o...,8,Row Check,NZ+
28,NZ+,Expense Ratio,Please replace this text with an explanation o...,14,Row Check,NZ+
29,NZ+,Date of Analysis,Please replace this text with an explanation o...,10,Row Check,NZ+
30,NZ+,Duplicate Count,Please replace this text with an explanation o...,200,Attribute Check,NZ+

In [50]:
for idx, i in enumerate(latest_valcomments["Business Unit"]):
    if "+" in  latest_valcomments["Business Unit"][idx]:
        latest_valcomments.iat[idx , 5]  = "Multiple Business Units"
    else:
        latest_valcomments.iat[idx , 5]   = "Business Unit Only"

In [51]:
for idx, i  in  enumerate(latest_vdfdata_sets):
            c = len(i.columns)
            i.insert(c , "Submission Comment", latest_valcomments["Comments"][idx])
            i.insert(c +1, "Applies to", latest_valcomments["Applies to"][idx])

print(latest_vdfdata_sets)

[         Country (LC) Submission Written Revenue net of Taxes  \
0  United States                                      29,302

  (EUR) Submission Written Revenue net of Taxes  \
0                                       24,832

  (EUR) Finance Sales Gross Written (EUR) Difference  \
0                      145,310,310     -145,285,478

                                  Submission Comment          Applies to
0  Please add any commentary on differences from ...  Business Unit Only  ,          Country (LC): Submission Earned Revenues net of Taxes  \
0  United States                                       22,054

  (EUR): Submission Earned Revenues net of Taxes (EUR) Finance Net Earnings  \
0                                        18,690                 98,303,270

  (EUR) Difference                                 Submission Comment  \
0     -98,284,580   Please add any commentary on differences from ...

           Applies to
0  Business Unit Only  ,          Country Submission Loss Ratio Finance Loss Ratio Difference (%)  \
0  United States                 19.5%              18.4%           1.1%

                                  Submission Comment          Applies to
0  Please add any commentary on differences from ...  Business Unit Only  ,          Country Submission Commission Ratio Finance Commission Ratio  \
0  United States                       26.9%                    47.7%

  Difference (%)                                 Submission Comment  \
0         -20.8%  Please add any commentary on differences from ...

           Applies to
0  Business Unit Only  ,          Country Submission Expense Ratio Finance Expense Ratio  \
0  United States                    17.5%                 37.5%

  Difference (%)                                 Submission Comment  \
0         -20.0%  Please add any commentary on differences from ...

           Applies to
0  Business Unit Only  ,   Business Unit Country Currency         Region  Reporting Date From  \
0            US     nan      USD  North America  2019-04-01 00:00:00
1            US     nan      USD  North America  2019-04-01 00:00:00
2            US     nan      USD  North America  2019-04-01 00:00:00
3            US      US      USD  North America  2019-04-01 00:00:00
4            US      US      USD  North America  2019-04-01 00:00:00
5            US      US      USD  North America  2019-04-01 00:00:00
6            US      US      USD  North America  2019-04-01 00:00:00
7            US      US      USD  North America  2019-04-01 00:00:00
8            US      US      USD  North America  2019-04-01 00:00:00
9            US      US      USD  North America  2019-04-01 00:00:00

     Reporting Date To     Date of Analysis         Type of Analysis  \
0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
2  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
3  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
4  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
5  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
6  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
7  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
8  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
9  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

  Analysed Months Reporting Year  ... Commission Ratio Expense Ratio  \
0              12           2020  ...             nan           nan
1              12           2020  ...               0             0
2              12           2020  ...               0             0
3              12           2020  ...               0             0
4              12           2020  ...               0             0
5              12           2020  ...               0             0
6              12           2020  ...               0             0
7              12           2020  ...               0             0
8              12           2020  ...               0             0
9              12           2020  ...             nan           nan

  Combined Ratio Profit or Loss Notes Unnamed: 66 Reporting Date From INT  \
0             0              0    nan         nan                20190401
1             1            109    nan         nan                20190401
2             1            -56    nan         nan                20190401
3             0            437    nan         nan                20190401
4             0            315    nan         nan                20190401
5             0            544    nan         nan                20190401
6             0            317    nan         nan                20190401
7             1             52    nan         nan                20190401
8             0          3,335    nan         nan                20190401
9             0              0    nan         nan                20190401

  concat2                                 Submission Comment  \
0  nanUSD  Please replace this text with an explanation o...
1  nanUSD  Please replace this text with an explanation o...
2  nanUSD  Please replace this text with an explanation o...
3   USUSD  Please replace this text with an explanation o...
4   USUSD  Please replace this text with an explanation o...
5   USUSD  Please replace this text with an explanation o...
6   USUSD  Please replace this text with an explanation o...
7   USUSD  Please replace this text with an explanation o...
8   USUSD  Please replace this text with an explanation o...
9   USUSD  Please replace this text with an explanation o...

           Applies to
0  Business Unit Only
1  Business Unit Only
2  Business Unit Only
3  Business Unit Only
4  Business Unit Only
5  Business Unit Only
6  Business Unit Only
7  Business Unit Only
8  Business Unit Only
9  Business Unit Only

[10 rows x 71 columns],   Business Unit Country Currency         Region  Reporting Date From  \
0            US     nan      USD  North America  2019-04-01 00:00:00
1            US      US      USD  North America  2019-04-01 00:00:00

     Reporting Date To     Date of Analysis         Type of Analysis  \
0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

  Analysed Months Reporting Year  ... Commission Ratio Expense Ratio  \
0              12           2020  ...             nan           nan
1              12           2020  ...             nan           nan

  Combined Ratio Profit or Loss Notes Unnamed: 66 Reporting Date From INT  \
0             0              0    nan         nan                20190401
1             0              0    nan         nan                20190401

  concat2                                 Submission Comment  \
0  nanUSD  Please replace this text with an explanation o...
1   USUSD  Please replace this text with an explanation o...

           Applies to
0  Business Unit Only
1  Business Unit Only

[2 rows x 71 columns],    Business Unit Country Currency         Region  Reporting Date From  \
0             US     nan      USD  North America  2021-01-01 00:00:00
1             US     nan      USD  North America  2021-01-01 00:00:00
2             US     nan      USD  North America  2019-04-01 00:00:00
3             US     nan      USD  North America  2019-04-01 00:00:00
4             US     nan      USD  North America  2019-04-01 00:00:00
5             US      US      USD  North America  2019-04-01 00:00:00
6             US      US      USD  North America  2019-04-01 00:00:00
7             US      US      USD  North America  2019-04-01 00:00:00
8             US      US      USD  North America  2019-04-01 00:00:00
9             US      US      USD  North America  2019-04-01 00:00:00
10            US      US      USD  North America  2019-04-01 00:00:00
11            US      US      USD  North America  2019-04-01 00:00:00

      Reporting Date To     Date of Analysis         Type of Analysis  \
0   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
1   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
2   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
3   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
4   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
5   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
6   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
7   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
8   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
9   2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
10  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
11  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

   Analysed Months Reporting Year  ... Commission Ratio Expense Ratio  \
0               12           2020  ...               0             0
1               12           2020  ...               0             0
2               12           2020  ...             nan           nan
3               12           2020  ...               0             0
4               12           2020  ...               0             0
5               12           2020  ...               0             0
6               12           2020  ...               0             0
7               12           2020  ...               0             0
8               12           2020  ...               0             0
9               12           2020  ...               0             0
10              12           2020  ...               0             0
11              12           2020  ...             nan           nan

   Combined Ratio Profit or Loss Notes Unnamed: 66 Reporting Date From INT  \
0              0            566    nan         nan                20210101
1              0          2,337    nan         nan                20210101
2              0              0    nan         nan                20190401
3              1            109    nan         nan                20190401
4              1            -56    nan         nan                20190401
5              0            437    nan         nan                20190401
6              0            315    nan         nan                20190401
7              0            544    nan         nan                20190401
8              0            317    nan         nan                20190401
9              1             52    nan         nan                20190401
10             0          3,335    nan         nan                20190401
11             0              0    nan         nan                20190401

   concat2                                 Submission Comment  \
0   nanUSD  Please replace this text with an explanation o...
1   nanUSD  Please replace this text with an explanation o...
2   nanUSD  Please replace this text with an explanation o...
3   nanUSD  Please replace this text with an explanation o...
4   nanUSD  Please replace this text with an explanation o...
5    USUSD  Please replace this text with an explanation o...
6    USUSD  Please replace this text with an explanation o...
7    USUSD  Please replace this text with an explanation o...
8    USUSD  Please replace this text with an explanation o...
9    USUSD  Please replace this text with an explanation o...
10   USUSD  Please replace this text with an explanation o...
11   USUSD  Please replace this text with an explanation o...

            Applies to
0   Business Unit Only
1   Business Unit Only
2   Business Unit Only
3   Business Unit Only
4   Business Unit Only
5   Business Unit Only
6   Business Unit Only
7   Business Unit Only
8   Business Unit Only
9   Business Unit Only
10  Business Unit Only
11  Business Unit Only

[12 rows x 71 columns],   Business Unit Country Currency         Region  Reporting Date From  \
0            US     nan      USD  North America  2021-01-01 00:00:00
1            US     nan      USD  North America  2021-01-01 00:00:00
2            US     nan      USD  North America  2019-04-01 00:00:00
3            US     nan      USD  North America  2019-04-01 00:00:00
4            US     nan      USD  North America  2019-04-01 00:00:00
5            US      US      USD  North America  2019-04-01 00:00:00
6            US      US      USD  North America  2019-04-01 00:00:00
7            US      US      USD  North America  2019-04-01 00:00:00
8            US      US      USD  North America  2019-04-01 00:00:00
9            US      US      USD  North America  2019-04-01 00:00:00

     Reporting Date To     Date of Analysis         Type of Analysis  \
0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
2  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
3  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
4  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
5  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
6  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
7  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
8  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
9  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

  Analysed Months Reporting Year  ... Notes Unnamed: 66  \
0              12           2020  ...   nan         nan
1              12           2020  ...   nan         nan
2              12           2020  ...   nan         nan
3              12           2020  ...   nan         nan
4              12           2020  ...   nan         nan
5              12           2020  ...   nan         nan
6              12           2020  ...   nan         nan
7              12           2020  ...   nan         nan
8              12           2020  ...   nan         nan
9              12           2020  ...   nan         nan

  Reporting Date From INT concat2               comsub               expsub  \
0                20210101  nanUSD  0.28620844564240794  0.17513027852650495
1                20210101  nanUSD   0.2862254901960784  0.17514705882352943
2                20190401  nanUSD                  0.0                  0.0
3                20190401  nanUSD                  0.0   0.1754464285714286
4                20190401  nanUSD   0.2956847392524745  0.17512335647806176
5                20190401   USUSD   0.2457433290978399  0.17515883100381194
6                20190401   USUSD   0.2955177993527508   0.1750485436893204
7                20190401   USUSD    0.213853711790393  0.17513100436681223
8                20190401   USUSD  0.18622309197651662  0.17512720156555775
9                20190401   USUSD   0.2849038461538462  0.17432692307692307

  ibnrsub Reporting Date To INT  \
0    10.0              20200331
1    0.05              20200331
2     0.0              20200331
3     0.0              20200331
4     0.0              20200331
5     0.0              20200331
6     0.0              20200331
7     0.0              20200331
8     0.0              20200331
9     0.0              20200331

                                  Submission Comment          Applies to
0  Please replace this text with an explanation o...  Business Unit Only
1  Please replace this text with an explanation o...  Business Unit Only
2  Please replace this text with an explanation o...  Business Unit Only
3  Please replace this text with an explanation o...  Business Unit Only
4  Please replace this text with an explanation o...  Business Unit Only
5  Please replace this text with an explanation o...  Business Unit Only
6  Please replace this text with an explanation o...  Business Unit Only
7  Please replace this text with an explanation o...  Business Unit Only
8  Please replace this text with an explanation o...  Business Unit Only
9  Please replace this text with an explanation o...  Business Unit Only

[10 rows x 75 columns],   Business Unit Country Currency         Region  Reporting Date From  \
0            US     nan      USD  North America  2021-01-01 00:00:00
1            US     nan      USD  North America  2021-01-01 00:00:00
2            US     nan      USD  North America  2019-04-01 00:00:00
3            US     nan      USD  North America  2019-04-01 00:00:00
4            US     nan      USD  North America  2019-04-01 00:00:00
5            US      US      USD  North America  2019-04-01 00:00:00
6            US      US      USD  North America  2019-04-01 00:00:00
7            US      US      USD  North America  2019-04-01 00:00:00
8            US      US      USD  North America  2019-04-01 00:00:00
9            US      US      USD  North America  2019-04-01 00:00:00

     Reporting Date To     Date of Analysis         Type of Analysis  \
0  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
1  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
2  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
3  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
4  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
5  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
6  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
7  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
8  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months
9  2020-03-31 00:00:00  2019-03-01 00:00:00  Most Recently 12 Months

  Analysed Months Reporting Year  ... Unnamed: 66 Reporting Date From INT  \
0              12           2020  ...         nan                20210101
1              12           2020  ...         nan                20210101
2              12           2020  ...         nan                20190401
3              12           2020  ...         nan                20190401
4              12           2020  ...         nan                20190401
5              12           2020  ...         nan                20190401
6              12           2020  ...         nan                20190401
7              12           2020  ...         nan                20190401
8              12           2020  ...         nan                20190401
9              12           2020  ...         nan                20190401

  concat2               comsub               expsub ibnrsub  \
0  nanUSD  0.28620844564240794  0.17513027852650495    10.0
1  nanUSD   0.2862254901960784  0.17514705882352943    0.05
2  nanUSD                  0.0                  0.0     0.0
3  nanUSD                  0.0   0.1754464285714286     0.0
4  nanUSD   0.2956847392524745  0.17512335647806176     0.0
5   USUSD   0.2457433290978399  0.17515883100381194     0.0
6   USUSD   0.2955177993527508   0.1750485436893204     0.0
7   USUSD    0.213853711790393  0.17513100436681223     0.0
8   USUSD  0.18622309197651662  0.17512720156555775     0.0
9   USUSD   0.2849038461538462  0.17432692307692307     0.0

  Reporting Date To INT Date of Analysis INT  \
0              20200331             20190301
1              20200331             20190301
2              20200331             20190301
3              20200331             20190301
4              20200331             20190301
5              20200331             20190301
6              20200331             20190301
7              20200331             20190301
8              20200331             20190301
9              20200331             20190301

                                  Submission Comment          Applies to
0  Please replace this text with an explanation o...  Business Unit Only
1  Please replace this text with an explanation o...  Business Unit Only
2  Please replace this text with an explanation o...  Business Unit Only
3  Please replace this text with an explanation o...  Business Unit Only

In [52]:
wrcols = ['Country', '(LC) Submission Written Revenue net of Taxes',
       '(EUR) Submission Written Revenue net of Taxes',
       '(EUR) Finance Sales Gross Written', '(EUR) Difference', "Submission Comment","Applies to" ]

ercols = ['Country', '(LC): Submission Earned Revenues net of Taxes',
       '(EUR): Submission Earned Revenues net of Taxes',
       '(EUR) Finance Net Earnings', '(EUR) Difference', "Submission Comment","Applies to" ]

lrcols = ['Country', 'Submission Loss Ratio', 'Finance Loss Ratio',
       'Difference (%)', "Submission Comment","Applies to" ]

crcols = ['Country', 'Submission Commission Ratio', 'Finance Commission Ratio',
       'Difference (%)', "Submission Comment","Applies to" ]

etcols = ['Country', 'Submission Expense Ratio', 'Finance Expense Ratio',
       'Difference (%)', "Submission Comment","Applies to" ]

Written_Revenue_Report = pd.DataFrame(columns = wrcols )
Earned_Revenue_Report = pd.DataFrame(columns = ercols )
Loss_Ratio_Report = pd.DataFrame(columns = lrcols )
Commission_Ratio_Report = pd.DataFrame(columns = crcols )
Expense_Ratio_Report = pd.DataFrame(columns = etcols )


for idx, i in enumerate(latest_vdfdata_sets):
    try:
        Written_Revenue_Report = Written_Revenue_Report.append(i[wrcols])
    except:
        pass
    try:
        Earned_Revenue_Report = Earned_Revenue_Report.append(i[ercols])
    except:
        pass
    try:
        Loss_Ratio_Report = Loss_Ratio_Report.append(i[lrcols])
    except:
        pass
    try:
        Commission_Ratio_Report = Commission_Ratio_Report.append(i[crcols])
    except:
        pass
    try:
        Expense_Ratio_Report = Expense_Ratio_Report.append(i[etcols])
    except:
        pass

In [53]:
fin_rep_dict = { "Written Revenue Comparison" : Written_Revenue_Report , "Earned Revenue Comparison" : 
                Earned_Revenue_Report , "Loss Ratio Comparison" : Loss_Ratio_Report,
                "Commission Ratio Comparison" : Commission_Ratio_Report, "Expense Ratio Comparison"  :
                Expense_Ratio_Report  }

fin_rep_dict.keys()

dict_keys(['Written Revenue Comparison', 'Earned Revenue Comparison', 'Loss Ratio Comparison', 'Commission Ratio Comparison', 'Expense Ratio Comparison'])

In [54]:
filename =  os.path.join(rep_path, "Finance Comparison.xlsx")
archname = os.path.join(rep_path,rep_arch_path ,f"Finance Comparison_{inst_datetime}.xlsx")

os.copyfile(filename, archname)

while not os.path.isfile(filename):
    df = pd.DataFrame(fin_rep_dict['Written Revenue Comparison'])
    df.to_excel(filename, sheet_name='Written Revenue Comparison') 

    
    
writer = pd.ExcelWriter( filename, engine='xlsxwriter')

for k, v  in fin_rep_dict.items():
    v = pd.DataFrame(v)
    b = pd.DataFrame({k: k}, index = [0])
    b.to_excel(writer, sheet_name=k,header=False, startrow=3, startcol=4 , index = False)
    v.to_excel(writer, sheet_name= k , startrow=7, startcol=0 , index = False)

writer.save()

print(filename)

AttributeError: module 'os' has no attribute 'copyfile'